/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}


/* Anchor animations for components that have no selector defined */
ng-component {
    position: fixed;
    padding: 20px;
    top: 6Children0px;
    left: 0;
    right: 0;
    height: 100%;
    display: block;
}
